.projeto-item {
	width: 100%;
	padding: 40px 0;
	border-bottom: 1px solid #ccc;
}

.projeto-item:last-child {
	border-bottom: 0px;
}

.projeto-content {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	gap: 40px;
	align-items: flex-start;
}

.projeto-texto {
	flex: 1;
}

.projeto-imagem {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: stretch;
}

.projeto-imagem img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.projeto-mapa {
	width: 100%;
	height: 300px;
	margin-top: 20px;
	border: none;
	border-radius: 8px;
}

.projeto-titulo {
	font-size: 2em;
	margin-bottom: 20px;
	color: var(--text-color);
}

.projeto-descricao {
	font-size: 1.1em;
	line-height: 1.6;
	margin-bottom: 20px;
	color: var(--text-color);
}

.projeto-status {
	font-size: 1em;
	color: var(--text-color);
	font-weight: bold;
	margin-bottom: 10px;
}

.sobre-nos-images {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	margin-bottom: 20px;
	flex-wrap: wrap;
}

.sobre-nos-image-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 22%;
	/* max-width: 95vw; */
}

.sobre-nos-image-box img {
	width: 100%;
	height: 350px;
	object-fit: contai;
	border-radius: 12px;
	margin-bottom: 10px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.sobre-nos-nome {
	text-align: center;
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--text-color);
	margin: 0;
}

@media screen and (max-width: 1024px) {
	.projeto-content {
		gap: 20px;
	}

	.projeto-titulo {
		font-size: 32px;
	}
}

@media screen and (max-width: 768px) {
	.projeto-content {
		flex-direction: column;
	}

	.projeto-texto {
		width: 100%;
	}

	.projeto-imagem {
		width: 100%;
	}

	.projeto-imagem img {
		height: 400px;
	}

	.projeto-titulo {
		font-size: 1.8em;
	}

	.projeto-descricao {
		font-size: 1em;
	}

	iframe {
		width: 100% !important;
		height: 300px !important;
	}
}

@media (max-width: 700px) {
	.sobre-nos-images {
		flex-direction: column;
		align-items: center;
		gap: 18px;
	}

	.sobre-nos-image-box {
		width: 70vw;
		max-width: 260px;
	}

	.sobre-nos-image-box img {
		height: 38vw;
		min-height: 120px;
		max-height: 200px;
	}

	iframe {
		width: 100%;
	}

	.projeto-item-mobile {
		display: block;
	}
}

@media screen and (max-width: 480px) {
	.projeto-item {
		padding: 20px 0;
	}

	.projeto-imagem img {
		height: 300px;
	}

	.projeto-titulo {
		font-size: 1.5em;
	}

	.projeto-descricao {
		font-size: 0.9em;
	}

	.projeto-status {
		font-size: 0.9em;
	}
}

.info-card {
	background-color: var(--background-color);
	border-radius: 10px;
	color: var(--text-color);
}

.info-card h2 {
	font-size: 2em;
	color: var(--text-color);
}

.info-card p {
	font-size: 1.1em;
	line-height: 1.6;
}

.info-card ul {
	font-size: 1.1em;
	line-height: 1.6;
}

.info-card a {
	color: rgb(65, 86, 220);
}

@media (max-width: 768px) {
	.info-card h2 {
		font-size: 1.8em;
	}

	.info-card p,
	.info-card ul {
		font-size: 1em;
	}
}

@media (max-width: 480px) {
	.info-card h2 {
		font-size: 1.5em;
	}

	.info-card p,
	.info-card ul {
		font-size: 0.9em;
	}
}
